In [134]:
library(data.table)
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [109]:
getwd()

[1] "C:/Users/asus-A9/Documents/GitHub/AnacondaWorkingSpace/R/DataScience Specialization/week 3/Quiz 3"

In [110]:
url = "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv"
dest = 'C:/Users/asus-A9/Documents/GitHub/AnacondaWorkingSpace/R/DataScience Specialization/Data/GDP.csv'
# download.file(url, dest)

In [111]:
gdp = data.table(read.csv(dest, skip = 4, nrows = 215))

In [112]:
url = "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv"
dest = dest = 'C:/Users/asus-A9/Documents/GitHub/AnacondaWorkingSpace/R/DataScience Specialization/Data/educationaldata.csv'
# download.file(url, dest)
educ = read.csv(dest)

In [113]:
dim(gdp)

[1] 215  10

In [114]:
head(gdp, n = 2,)

  X   X.1 X.2 X.3           X.4          X.5 X.6 X.7 X.8 X.9
1 USA 1   NA  United States  16,244,600      NA  NA  NA  NA
2 CHN 2   NA  China          8,227,103       NA  NA  NA  NA

In [115]:
summary(gdp)

       X            X.1           X.2                      X.3
        :  1   Min.   :  1.00   Mode:logical                 :  1
 ABW    :  1   1st Qu.: 48.25   NA's:215       Afghanistan   :  1
 ADO    :  1   Median : 95.50                  Albania       :  1
 AFG    :  1   Mean   : 95.49                  Algeria       :  1
 AGO    :  1   3rd Qu.:142.75                  American Samoa:  1
 ALB    :  1   Max.   :190.00                  Andorra       :  1
 (Other):209   NA's   :25                      (Other)       :209
          X.4      X.5       X.6            X.7            X.8
 ..         : 23    :209   Mode:logical   Mode:logical   Mode:logical
            :  2   a:  1   NA's:215       NA's:215       NA's:215
  767       :  2   b:  1
  1,008     :  1   c:  1
  1,129     :  1   d:  1
  1,129,598 :  1   e:  1
 (Other)    :185   f:  1
   X.9
 Mode:logical
 NA's:215

In [116]:
gdp <- gdp[X != ""]
head(gdp)

  X   X.1 X.2 X.3            X.4          X.5 X.6 X.7 X.8 X.9
1 USA 1   NA  United States   16,244,600      NA  NA  NA  NA
2 CHN 2   NA  China           8,227,103       NA  NA  NA  NA
3 JPN 3   NA  Japan           5,959,718       NA  NA  NA  NA
4 DEU 4   NA  Germany         3,428,131       NA  NA  NA  NA
5 FRA 5   NA  France          2,612,878       NA  NA  NA  NA
6 GBR 6   NA  United Kingdom  2,471,784       NA  NA  NA  NA

In [117]:
new_gdp = gdp[, list(X, X.1, X.3, X.4)]

In [118]:
summary(new_gdp)

       X            X.1                     X.3               X.4
 ABW    :  1   Min.   :  1.00   Afghanistan   :  1   ..         : 23
 ADO    :  1   1st Qu.: 48.25   Albania       :  1    767       :  2
 AFG    :  1   Median : 95.50   Algeria       :  1              :  1
 AGO    :  1   Mean   : 95.49   American Samoa:  1    1,008     :  1
 ALB    :  1   3rd Qu.:142.75   Andorra       :  1    1,129     :  1
 ARE    :  1   Max.   :190.00   Angola        :  1    1,129,598 :  1
 (Other):208   NA's   :24       (Other)       :208   (Other)    :185

In [119]:
head(new_gdp, n= 3)

  X   X.1 X.3           X.4
1 USA 1   United States  16,244,600
2 CHN 2   China          8,227,103
3 JPN 3   Japan          5,959,718

In [120]:
cnames <- c("CountryCode", "GdpRank", "Long.Name", "gdp")

In [121]:
setnames(x = new_gdp, old = c("X", "X.1", "X.3","X.4" ), new = cnames)

In [122]:
head(new_gdp)

  CountryCode GdpRank Long.Name      gdp
1 USA         1       United States   16,244,600
2 CHN         2       China           8,227,103
3 JPN         3       Japan           5,959,718
4 DEU         4       Germany         3,428,131
5 FRA         5       France          2,612,878
6 GBR         6       United Kingdom  2,471,784

In [123]:
gdp <- new_gdp

In [124]:
my_data = merge(educ, gdp, all= TRUE, by = c("CountryCode"))

In [126]:
head(my_data)

  CountryCode Long.Name.x                  Income.Group
1 ABW         Aruba                        High income: nonOECD
2 ADO         Principality of Andorra      High income: nonOECD
3 AFG         Islamic State of Afghanistan Low income
4 AGO         People's Republic of Angola  Lower middle income
5 ALB         Republic of Albania          Upper middle income
6 ARE         United Arab Emirates         High income: nonOECD
  Region                     Lending.category Other.groups Currency.Unit
1 Latin America & Caribbean                                Aruban florin
2 Europe & Central Asia                                    Euro
3 South Asia                 IDA              HIPC         Afghan afghani
4 Sub-Saharan Africa         IDA                           Angolan kwanza
5 Europe & Central Asia      IBRD                          Albanian lek
6 Middle East & North Africa                               U.A.E. dirham
  Latest.population.census Latest.household.survey
1 2000
2 Register based
3 1979                     MICS, 2003
4 1970                     MICS, 2001, MIS, 2006/07
5 2001                     MICS, 2005
6 2005
  Special.Notes
1
2
3 Fiscal year end: March 20; reporting period for national accounts data: FY.
4
5
6
  ... Latest.industrial.data Latest.trade.data Latest.water.withdrawal.data
1 ...   NA                   2008                NA
2 ...   NA                   2006                NA
3 ...   NA                   2008              2000
4 ...   NA                   1991              2000
5 ... 2005                   2008              2000
6 ...   NA                   2008              2005
  X2.alpha.code WB.2.code Table.Name           Short.Name           GdpRank
1 AW            AW        Aruba                Aruba                161
2 AD            AD        Andorra              Andorra               NA
3 AF            AF        Afghanistan          Afghanistan          105
4 AO            AO        Angola               Angola                60
5 AL            AL        Albania              Albania              125
6 AE            AE        United Arab Emirates United Arab Emirates  32
  Long.Name.y          gdp
1 Aruba                 2,584
2 Andorra              ..
3 Afghanistan           20,497
4 Angola                114,147
5 Albania               12,648
6 United Arab Emirates  348,595

In [128]:
sum(!is.na(unique(my_data$GdpRank)))

[1] 189

In [136]:
arrange(my_data, desc(GdpRank))[13, "Long.Name.y"]

[1] St. Kitts and Nevis
215 Levels:  Afghanistan Albania Algeria American Samoa Andorra ... Zimbabwe

In [146]:
my_data %>% group_by(Income.Group) %>% summarize(mean(GdpRank, na.rm = TRUE))

  Income.Group         mean(GdpRank, na.rm = TRUE)
1                            NaN
2 High income: nonOECD  91.91304
3 High income: OECD     32.96667
4 Low income           133.72973
5 Lower middle income  107.70370
6 Upper middle income   92.13333
7 NA                   131.00000

In [155]:
table(cut(my_data$GdpRank, breaks = 5), my_data$Income.Group)[,"Lower middle income"]

(0.811,38.8]  (38.8,76.6]   (76.6,114]    (114,152]    (152,190]
           5           13           12            8           16

ERROR: Error in dt$rankingGDP: object of type 'closure' is not subsettable

In [138]:
sort(names(educ))

 [1] "Alternative.conversion.factor"
 [2] "Balance.of.Payments.Manual.in.use"
 [3] "CountryCode"
 [4] "Currency.Unit"
 [5] "External.debt.Reporting.status"
 [6] "Government.Accounting.concept"
 [7] "IMF.data.dissemination.standard"
 [8] "Income.Group"
 [9] "Latest.agricultural.census"
[10] "Latest.household.survey"
[11] "Latest.industrial.data"
[12] "Latest.population.census"
[13] "Latest.trade.data"
[14] "Latest.water.withdrawal.data"
[15] "Lending.category"
[16] "Long.Name"
[17] "National.accounts.base.year"
[18] "National.accounts.reference.year"
[19] "Other.groups"
[20] "PPP.survey.year"
[21] "Region"
[22] "Short.Name"
[23] "SNA.price.valuation"
[24] "Source.of.most.recent.Income.and.expenditure.data"
[25] "Special.Notes"
[26] "System.of.National.Accounts"
[27] "System.of.trade"
[28] "Table.Name"
[29] "Vital.registration.complete"
[30] "WB.2.code"
[31] "X2.alpha.code"